.login-page {
	width: 360px;
	padding: 8% 0 0;
	margin: auto;
}
img{
	display:block;
	margin: 8px auto;
}

.form {
	position: relative;
	z-index: 1;
	background: #FFFFFF;
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
	font-family: Courier New, Courier, Arial, sans-serif;
	outline: 0;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}
.form button {
	font-family: Courier New, Courier, Arial, sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #0052cc;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
	opacity: 0.8;
}

.form .message a {
  color: #0052cc;
  text-decoration: none;
  font-size:11px;
}

.form .alert{
	font-size:11px;
	color:#cc0000;
	margin-top:10px
}

body {
	background: #00ccff;
	background: -webkit-linear-gradient(right, #00ccff, #003399);
	background: -moz-linear-gradient(right, #00ccff, #003399);
	background: -o-linear-gradient(right, #00ccff, #003399);
	background: linear-gradient(to left, #00ccff, #003399);
	font-family: Courier New, Courier, Arial, sans-serif;
	width: 100%;  
}